---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import { Image } from "@astrojs/image/components";
import { motion } from "framer-motion"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 4);
const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];
// const shouldRender = !localStorage.getItem('animationsPlayed');

---

<div class="bg-[url('/background_home.svg')] bg-cover">

<BaseLayout isIndex="true" expandFooter="" sideBarActiveItemID="Home" title="Home" >
  <div class="px-5 lg:hidden flex flex-col bg-teal-800">
          <!-- Some Text -->
          <p class="font-semibold pt-8 text-white text-2xl">Hello! <span class="font-normal">I'm Ahmed </span> 👋</p>
          <p class="font-bold pt-3 text-white text-4xl">I Design <span class="text-orange-100">&</span> Build</p>
          <p class="font-normal pt-0 text-orange-100 text-2xl">digital products and experiences</p>
          <br>
        <p class="font-light pt-3 font-sans text-white text-sm">I design creative high-fidelity prototypes and sustainable design systems, rapidly.</p>
        <p class="font-light pt-3 text-white text-sm">With my background as a software engineer, I seamlessly blend functionality and artistry to create captivating experiences.</p>
        <p class="font-light pt-3 text-white text-sm">Lets work together to bring your visions to life
            Rapidly, Functionally, and Sustainably</p>

        <div class="self-center justify-center flex px-4 py-10 ">
        <!-- Button -->
          <button class="bg-[#122447] hover:bg-gradient-to-r from-[#122447] to-[#B1BACC] text-white py-3 px-4 font-normal" onclick="window.location.href = 'mailto:ahmed@kamaleldin.com';">
            Got a project? <span class="font-semibold underline">Let's get started</span>
          </button>
      </div>
      </div>

  <!-- <div class="absolute bottom-0 w-screen h-screen  bg-teal-800 z-50">  
  </div> -->
  <div class="px-5  bg-white ">
    <div class=" justify-between items-center py-6 "> 
      <div class=" flex w-full items-center ">
        <div class="flex-auto w-auto items-center">
          <a href="/" class="align-middle self-center font-semibold text-[#122447]">
                     Recent Works
          </a>
        </div>

        <div class="self-end justify-end items-center hidden md:flex">
          
          <a href="/about" class="btn btn-outline border-base-300 ml-5 hover:bg-[#356262] text-[#E0D8BF]">
            About
          </a>

          <a href="/chat"  class="btn btn-outline border-base-300 mx-5 hover:bg-[#356262]">
          <!-- Profile Image -->
          <Image class="mask mask-circle" aspectRatio="1:1" format="webp" width={30} height={30} src="/profile.svg" alt="Profile image" />
          <span class="text-sm "> online </span>
          <span class="relative">
            <span class="absolute animate-pulse  w-1.5 h-1.5 bg-green-500 rounded-full" style="top: 50%; transform: translate(-50%, -50%);"></span>
          </span>
          <span class="text-sm text-[#E0D8BF]"> | chat </span>
        </a>
          <a class="btn bg-blue-950  relative z-10 text-[#FAF9F7] hover:bg-[#356262]" href="https://drive.google.com/file/d/1fIsFF9LIPrP9x0yp90yvmPaIHZC2_Ops/view?usp=sharing" target="_blank"> Resume
        </a>

        </div>
        <div class="self-end justify-end lg:hidden">
          <a href="/" class="align-middle self-center font-semibold text-[#122447]">
                      filter
          </a>
        </div>
      </div>
      </div>
    </div>
  <div class=" pt-1 bg-gradient-to-r from-[#e0d8bf44]/30 to-slate-900/0">
      <div class=" justify-center hidden lg:flex">
        <div class="h-auto pt-5 px-4  text-lg w-3/4 font-normal mb-2 text-center text-[#E0D8BF]">filter by skill
        
          <div class="mt-4 ">
            {uniqueTags.map((tag) => (
              <a href="#" data-tag={tag} class="btn btn-sm btn-outline border-[#E0D8BF] ml-3 m-1.5 tag-button hover:bg-[#E0D8BF] hover:text-blue-950 text-[#122447] text-base">
                {tag}
              </a>
            ))}
            <!-- <a href="#" class="btn btn-outline border-stone-300 ml-5 tag-button hover:bg-[#E0D8BF] hover:text-black" data-tag="all">Show All</a> -->
          </div>
        </div>
      </div>
      
        {
          posts.map((post) => (
            <div class="post relative  transition-opacity duration-300 hover:bg-opacity-80" data-tags={post.data.tags.join(',')}>

             
              <div class=" group bg-white hover:shadow-xl transition ease-in-out hover:scale-[100%] m-5">
                <a href={"/blog/" + post.slug} target="_self">
                  <div class="flex  flex-col group-hover:bg-[#E0D8BF33]">
                    <div class="relative  w-full">
                       <div class="flex absolute inset-0  items-start justify-items-start flex-col bg-gradient-to-r from-[#e0d8bf44]/50 to-slate-900/0 bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity">
                          {post.data.tags.map(tag => (
                            <span class="mt-3 mx-2 hidden lg:block text-black bg-[#FAF9F7] px-3 py-1">{tag}</span>
                          ))}
                        </div>
                        <div>
                      {post.data.heroImage && (
                        <Image
                          src={post.data.heroImage}
                          height={300}
                          width={720}
                          aspectRatio={16 / 9}
                          format="svg"
                          alt={post.data.title}
                          class=" w-full h-full object-cover"
                        />
                      )}
                        </div>
                    </div>
                    <div class="p-4">
                      <h1 class="text-xl font-bold">
                        {post.data.title}
                      </h1>
                      <p class="py-1 text-1xl group-hover:text-[#122447] text-[#B2A57D]">{post.data.description}</p>
                    </div>
                  </div>
                </a>
              </div>
              
          </div>
          ))
        }

  </div>

</BaseLayout>
<script>
document.addEventListener("DOMContentLoaded", function() {
  // Grab all the tag buttons and posts
  const tagButtons = document.querySelectorAll('.tag-button');
  const posts = document.querySelectorAll('.post');

  tagButtons.forEach(button => {
    button.addEventListener('click', function(e) {
      e.preventDefault();

      // Get the tag from the clicked button
      const tag = e.target.getAttribute('data-tag');

      // Filter posts based on the tag
      posts.forEach(post => {
        if (tag === 'all' || post.getAttribute('data-tags').includes(tag)) {
          post.classList.remove('hidden'); // show post
        } else {
          post.classList.add('hidden'); // hide post
        }
      });
    });
  });
});
</script>

</div>
