---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION, includeSidebar = true, expandFooter=true, sideBarActiveItemID, changeColour=false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="lofi">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    
    <div class=" relative drawer lg:drawer-open">
      <div class="absolute overflow-hidden scrollbar-hide bg-teal-800 w-full h-full z-50 "> </div>
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content" >
        <Header title={SITE_TITLE} /> 
        <div class="w-full ">
          <main class=" ">
            <slot />
          </main>
        </div>
        <!-- {expandFooter? "":<SideBarFooter />} -->
      </div>
      {includeSidebar && <SideBar expandFooter={expandFooter} changeColour={changeColour} sideBarActiveItemID={sideBarActiveItemID} title={title} />}
    </div>
  </body>
</html>
