---
import { BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { title, description, pubDate, heroImage, badge, colab, tags } = Astro.props;

dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
import { Image } from "@astrojs/image/components";
---
<div class="bg-[url('/background_home.svg')] bg-cover">

<BaseLayout title={title} description={description} image={heroImage} expandFooter="" >
  <main class="md:flex md:justify-center relatve">
    <div class="flex  mt-5 absolute top-0 left-0">
        <a href="/">
          <img width="24" height="24" src="/back.png" alt="back--v1"/>
        </a>

        <a href="/" class="mr-3 text-slate-400"> Back</a>

        <a href="#" class="font-semibold text-[#E0D8BF]"> Edumize</a>
      </div>
    <article class="max-w-full prose-img:mx-auto">
       {
        heroImage && (
        <Image
            height= {100}
            width={100}
            format="svg"
            src={heroImage}
            alt={title} 
            class="w-full bg-white"
          />
        )
      } 

      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      <!-- {pubDate && <time>{displayDate}</time>} -->
      <br />
      <!-- {badge && <div class="badge badge-secondary my-1">{badge}</div>} -->
      <!-- {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      } -->
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
</div>
